@page
@model AboutModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>

<div class="titleKubernet"><h1> ¿Que es Kubernete ?</h1></div>
<div class="columnLeft" id="test">

    <div class="row">
        <div class="col">
            <p class="titles">
                <br /><br /><br />

                Kubernetes (k8s) es un sistema de código abierto para automatizar la implementación, el escalado y la gestión de aplicaciones contenedorizadas.
            </p>
        </div>
        <div class="imgLeft">
            <img src="~/images/quees.png" class="img" />
        </div>
    </div>
    
</div>

<div class="titleKubernet"><h1>¿Qué puede hacer Kubernetes por usted?</h1></div>

<div class="columnRigth">
    <div class="row">
        <div class="col">
            <p class="titles">
                Con los servicios web modernos, los usuarios esperan que
                las aplicaciones estén disponibles las 24 horas del día, los 7 días de la semana.
                <br />  <br />  
                La contenedorización ayuda a empaquetar software para cumplir estos objetivos,
                permitiendo que las aplicaciones sean lanzadas y actualizadas de una manera fácil y rápida sin tiempo de inactividad. <br /><br />  
                Kubernetes le ayuda a asegurarse de que esas aplicaciones contenedorizadas se ejecuten donde y cuando usted quiera, y
                le ayuda a encontrar los recursos y herramientas que necesitan para funcionar. 
            </p>
        </div>
        <div class="imgRigth">
            <img src="~/images/kuberte.png" class="img" />
        </div>
    </div>
</div>


