@page
@model ContactModel
@{
    ViewData["Title"] = "Videos info";
}

<div>
    <section class="grid-container" >
        <h1 contendor hidden img></h1>
        <div class="row">
            <div class="col-sm-4">
                <iframe width="900" height="480" src="https://www.youtube.com/embed/1LRzlUoyZg4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>
            <div class="row">
                <div class="col-sm-4"><iframe width="900" height="480" src="https://www.youtube.com/embed/zeS6OyDoy78" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>

            </div>

</section>


</div>