<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 2019</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
       
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">Kubernetes</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Inicio</a></li>
                    <li><a asp-page="/Kubernetes">Que es Kubernetes?</a></li>
                    <li><a asp-page="/Videos">Videos</a></li>
                    <li><a asp-page="/Informacion">Información</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div id="particles-js" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <a href="https://www.facebook.com/gpobabel" target="_blank"><img src="~/images/fb.png" alt="Visual Studio" class="img" width="50" height="50" /></a>
            <a href="https://twitter.com/grupobabel" target="_blank"><img src="~/images/twitter.png" alt="Visual Studio" class="img" width="50" height="50" /></a>
            <a href="https://www.linkedin.com/company/2030771/" target="_blank"><img src="~/images/linkedin.png" alt="Visual Studio" class="img" width="50" height="50" /></a>
            
            
            
            <p>&copy;  Grupo Babel   - 2019 </p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/particles.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script>
            particlesJS.load('particles-js', '~/js/particlesjs-config.json', function () {
                console.log('callback - particles.js config loaded');
            });
        </script>
    </environment>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/js/jquery.paroller.min.js"></script>
    <script>
        $("#test").paroller({ factor: 0.3, factorXs: 0.2, type: 'foreground', direction: 'vertical' });
    </script>
    <script>
        $('#gridImg').paroller({
            factorXs: 0,
            factorSm: 0.5,
            factorMd: -0.3,
            factorLg: 0,
            factorXl: 0,
            factor: 0.1,
            type: 'foreground',
            direction: 'horizontal'
        }); 

    </script>


    @RenderSection("Scripts", required: false)
</body>


</html>
